main {
    h2 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    h5 {
        font-size: 1.1rem;
    }
    
    counter-reset: h3 h4 h5;
    padding: 2rem 0;

    p, ul {
        margin-left: 4rem;
    }
    
    h3 {
        margin-left: 1rem;
        counter-reset: h4 h5;
    }
    
    h3:not(:first-of-type):before {
        counter-increment: h3;
        content: counter(h3)". ";
    }
    
    h4 {
        margin-left: 2rem;
        counter-reset: h5;
    }
    
    h4:before {
        counter-increment: h4;
        content: counter(h3)"." counter(h4)". ";
    }
    
    h5 {
        margin-left: 3rem;
    }
    
    h5:before {
        counter-increment: h5;
        content: counter(h3)"." counter(h4)"." counter(h5)". ";
    }
}