.navbar {
    animation: fadeIn 1s;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { background-color: transparent; }
    100% { background-color: #3d518a80; }
}

h1 {
    font-size: 3em;
}

#sub-title {
    font-size: 1.3rem;
    text-align: center;
}

.description-content h2 {
    text-align: center;
}

h3 {
    padding-top: 1rem;
    font-variant: small-caps;
}

#about {
    padding: 3rem 1rem;
    background-color: #252733;
}

#hero {
    align-items: center;
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 5rem;
    background-color: #323649;
    transition:1s opacity;
    justify-content: center;
    display:flex;
}

#typewriter-container {
    font-family:'Source Code Pro', monospace;
}