main {
    padding: 3rem 0;

    h2 {
        text-align: center;
    }

    ul {
        padding: 0 0 4rem 0;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        display: grid;
        gap: 3rem;
        list-style: none;
        
        li {
            display: flex;
            transition: background-color 200ms;
            flex-direction: column;
            max-width: 30rem;
            position: relative;
            padding: 1rem;
            background-color: #e6f7ffd5;
            border-radius: 0.5rem;
            text-align: center;

            img {
                margin: auto;
                width: 100%;
                max-width: 40rem;
                border-radius: 0.5rem;
            }

            a {
                color: #000 !important;
                text-decoration: none;
                border: 2px solid transparent;
                font-size: 1.5rem;
                margin-top: 0.25rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            /* Expand link hitbox over whole card */
            a::before {
                content: "";
                position: absolute;
                inset: 0;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 0.5rem;
                transition: border-color 200ms;
            }
            
            a:focus {
                outline: none;
            }
        }

        li:hover,
        li:focus-within {
            background-color: #e2f4ff;

            a::before {
                border-color: #65a7d3;
            }
        }
    }
}