main {
    padding: 5rem 0;

    h2 {
        text-align: center;
    }

    ul {
        padding: 0 0 5rem 0;
        align-items: center;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        list-style: none;
        
        li {
            max-width: 30rem;
            position: relative;
            padding: 1rem;
            background-color: #e6f7ffd5;
            border-radius: 0.5rem;
            text-align: center;

            img {
                width: 100%;
                max-width: 40rem;
                border-radius: 0.5rem;
                margin-bottom: 0.5rem;
            }

            a {
                color: #000 !important;
                text-decoration: none;
                border: 2px solid transparent;
                font-size: 1.5rem;
                margin-top: 0.25rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            /* Expand link hitbox over whole card */
            a::before {
                content: "";
                position: absolute;
                inset: 0;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 0.5rem;
                transition: border-color 200ms;
            }
      
            a:hover::before,
            a:focus-visible::before {
                border-color: #65a7d3;
            }
            
            a:focus {
                outline: none;
            }
        }
    }
}