#titleContainer{
    font-size:4vh;

}


#titleDiv{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    text-align:center;
    flex-direction:column;
    margin-top:25vh;
}

#projectHeart{
    position: absolute;
    margin-top:3.5vh;
    -webkit-transform: translate3d(-50%, -50%, 0); 
    -moz-transform: translate3d(-50%, -50%, 0);  
    transform: translate3d(-50%, -50%, 0);
    width: 4vh;
    transition:all 800ms;
    z-index:1000;
}

.project-slide div{
    display:flex;
    justify-content: center;
    align-items:center;
}

.heartbeat:hover{
    cursor:pointer;
    width:5vh;

}


.device-mockup{
    height: 35vh;
    transition: height 400ms ease-out;
}

.store-link{
    width:100px;
    margin:5px;
    transition: all 400ms ease-out;
    margin-bottom:20px;
    cursor:pointer;
}

.mockup-zone{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.store-link-a{
    transition: all 400ms;
}



#header{
    transition: background-color 700ms;
}

.fp-controlArrow{
    display:none!important;
}

.app-layer{
    position: absolute;
    transition:all 1500ms ease-out;
    height:40vh;
}

.bottom-menu{
    position: absolute;
    height:60px;
    width:100vw;
    bottom:0;
    background-color:rgba(60, 2, 2, 0.44);
    z-index:1000;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#arrow-next{
    font-size: 36px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    width: 20vw;
    height: 100%;
    align-items: center;
}

#arrow-prev{
    font-size: 36px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    width: 20vw;
    height: 100%;
    align-items: center;
    transition: all 500ms;

}

#arrow-prev:not(.is-touch):hover{
    background-image:linear-gradient(to right, rgba(0,0,0,0.3), rgba(206, 32, 28,0));
}
#arrow-next:not(.is-touch):hover{
    background-image:linear-gradient(to left, rgba(0,0,0,0.3), rgba(206, 32, 28,0));
}


.go-back-arrow{
    justify-content: center;
    width:100%;
    flex-direction:column;
    align-items:center;
    position:absolute;
    cursor:pointer;
    z-index:1000;
    visibility:hidden;
    display: flex;
    opacity: 0;
    transition:all 500ms;
}

.back-image{
    background-image: url(../images/background.png);
    background-repeat: round;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity 1500ms;
}

.project-footer{
    width: 100%;
    height:10vh;
    margin-bottom:60px;
    flex-wrap:wrap;
}

.scroll-down-zone{
    position: absolute;
    bottom: 0;   
    width: 100%;   
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition:opacity 1000ms;
}

@media (max-width: 992px){

    

    .project-slide div{
        align-items:start!important;
    }

    .fp-slides{
        overflow-y:scroll!important;
    }

    .row{
        width:98vw;
    }
    .mobile-spacer{
        height:5vh;
        width:100vw;
    }
    .mobile-spacer-lg{
        height:10vh;
        width:100vw;
    }

    .store-link-a{
        display:none;
    }

    .desktop-only{
        display: none!important;
    }

    .modal-platform{
        height: 80vh;
        width: 70vw;
    }

    .modal-items{
        flex-direction: column;
        height:75vh!important;
    }


    .modal-image-container{
        width:100%;
    }
    
    
}

.back-color-red{
    background-color:#8E1210!important;
}

.show-flex{
    visibility: visible!important;
    opacity: 1;
}

.modal-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 1500;
    transition: all 500ms;
    visibility: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
}

.modal-platform{
    background-color: #000000b3;
    transition:all 500ms;
    border-radius: 2vh;
    opacity: 0;

}

.modal-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:45vh;
}

.modal-close{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding: 2vh;
}

.modal-image-container{
    
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#slideTitle{
    font-size:28px;
}


@media (min-width:992px){
    .container-fluid{
        margin:10vw;
    }
    .go-back-arrow{
        top:12vh;
    }

    .mobile-only{
        display:none!important;
    }

    .modal-platform{
        height: 50vh;
        width: 80vw;
    }

    .platform-logo:hover{
        background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 40%);
    }

    .modal-image-container{
        width: 50%;
    }
    
    body{
        font-size: 2vh;
    }
}




.github-container-desktop{
    display: flex;
    align-items: center;
    height: 5vh;
    border: 1px solid white;
    border-radius: 0.5vh;
    padding: 10px;
    transition: background-color 500ms;
    cursor:pointer;
}

.github-container-desktop:hover{
    background-color:black;
}

.github-container-mobile{
    display: flex;
    align-items: center;
    height: 4.5vh;
    border: 1px solid #bcacac;
    background-color: black;
    border-radius: 0.5vh;
    padding: 10px;
}


