#titleContainer{
    font-size:5vh;

}


#titleDiv{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
}

#projectHeart{
    position: absolute;
    margin-top:4vh;
    -webkit-transform: translate3d(-50%, -50%, 0); 
    -moz-transform: translate3d(-50%, -50%, 0);  
    transform: translate3d(-50%, -50%, 0);
    width: 4vh;
    transition:transform 100ms;
}