.single-page {
    height: 100vh;
}

a:hover::after,
[data-current-page="home"] a[href="index.html"]:after,
[data-current-page="team"] a[href="equipe.html"]:after,
[data-current-page="partners"] a[href="partenaires.html"]:after,
[data-current-page="contact"] a[href="contact.html"]:after {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

body {
    background-color: #323649;
    color: #f1f7fd;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: #b9d3fa;
}

p {
    margin-top: 0;
    line-height: 1.8;
}

@keyframes blink {
    0%, 49% {
        opacity: 0;
    }

    50%, 100% {
        opacity: 1;
    }
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.gradient-border {
    width: 100%;
    display: block;
    border: none;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(rgba(255, 255, 255, 0.1)));
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

@media (min-width: 992px) {
    #nav-toggle-container {
        display: none;
    }

    header nav {
        display: flex !important;
    }
}

@media (max-width: 991px) {
    .main-container {
        margin-top: 8rem;
    }

    .intro-title {
        font-size: 2.5rem;
    }

    .main-title {
        font-size: 1.3rem;
    }

    header {
        align-items: normal !important;
        flex-direction: column;

        nav {
            padding-left: 0 !important;

            ul {
                flex-direction: column;
                
                li {
                    width: fit-content;
                    margin-left: 0;
                    font-size: 30px;
                }
            }
        }
        
        .top-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #nav-toggle-container {
            display: flex;
            height: 35px;
            width: 35px;
            padding: 0;
            cursor: pointer;
            align-items: center;
    
            #nav-toggler span,
            #nav-toggler span:before,
            #nav-toggler span:after {
                border-radius: 1px;
                height: 3px;
                width: 35px;
                background: white;
                position: absolute;
                display: block;
                content: '';
            }
            
            #nav-toggler span:before {
                margin-top: -10px;
            }
            
            #nav-toggler span:after {
                margin-top: 10px;
            }
            
            #nav-toggler span,
            #nav-toggler span:before,
            #nav-toggler span:after {
                transition: all 500ms ease-in-out;
            }
            
            #nav-toggler.active span {
                background-color: transparent;
            }
            
            #nav-toggler.active span:before,
            #nav-toggler.active span:after {
                margin-top: 0;
            }
            
            #nav-toggler.active span:before {
                transform: rotate(45deg);
            }
            
            #nav-toggler.active span:after {
                transform: rotate(-45deg);
            }
        }
    }

    footer {
        flex-direction: column-reverse;
        font-size: 0.9rem;

        .logo-image {
            height: 1.5rem;
        }
    
        .footer-content {
            justify-content: center;
        }

        .applets {
            align-items: center !important;
            padding-bottom: 2rem;
        }
    }
}

header {
    align-items: center;
    z-index: 1;
    top: 0;
    position: sticky;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #1b2431;

    img {
        height: 4rem;
    }

    button {
        background-color: #00000000;
        border: none;
    }

    nav {
        padding-left: 5rem;
        color: white;
        font-size: 1.4rem;

        ul {
            display: flex;
            column-gap: 3rem;
            list-style: none;
            padding: 0;

            a {
                text-decoration: none;
                color: inherit
            }

            a:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #fff;
                transition: width .3s;
            }
        }
    }
}

footer {
    background-color: #090f1b;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
        white-space: nowrap;
        font-size: 1.5rem;
        margin: 0;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        margin: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin-bottom: 0;
    }

    a:hover {
        color: #95b7eb
    }
    
    .applets {
        display: flex;
        flex-direction: column;
        align-items: end;
    
        img {
            height: 2.5rem;
        }
    
        div {
            display: flex;
            gap: 0.8rem;
            align-items: center;
        }
    }

    .footer-content {
        align-items: start;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .social {
            margin-right: 8px;
            height: 1.6rem;
            border-radius: 3px;
        }
    }
}