@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vw);
    }
    
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100vw);
    }
    
    to {
        transform: translateX(0);
    }
}

main {
    overflow-x: hidden;

    h2 {
        margin: 5rem 0 0.5rem 0;
        text-align: center;
        font-weight: bold;
    }
    
    .members {
        row-gap: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 100% !important;
        margin-bottom: 4rem;
    }

    .profile {
        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .profile-picture {
            border-radius: 50%;
            height: 15rem;
            width: 15rem;
            background-position: center;
            background-size: 105%;
            transition: all 500ms;
            
            .thumbnail-content {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0;
                transition: opacity 500ms;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                
                a {
                    height: 2.5rem;
                    width: 2.5rem;
                    
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    
    .profile-picture:hover, .profile-picture:focus-within {
        background-size: 125%;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        
        .thumbnail-content {
            opacity: 1;
        }
    }
    
    .bottom-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        p {
            font-size: 0.9rem;
            margin-bottom: 0;
            color: rgb(206, 206, 206);
        }
    }
}

#admin-members {
    .profile:nth-child(n+1):nth-child(-n+4) {
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    
    .profile:nth-child(n+5):nth-child(-n+8){
        animation: 1s ease-out 0s 1 slideInFromRight;
    }
}

/* Desactive toutes les animations sur .profile si on resize */
.animation-disabled .profile {
  animation: none !important;
  transition: none !important;
}

@media (max-width: 1400px) {
    .profile {
        width: 33%;
    }
    
    #admin-members {
        .profile:nth-child(n+1):nth-child(-n+3) {
            animation: 1s ease-out 0s 1 slideInFromLeft;
        }
        
        .profile:nth-child(n+4):nth-child(-n+7) {
            animation: 1s ease-out 0s 1 slideInFromRight;
        }
    }
}

@media (max-width: 992px) {
    .profile {
        width: 50%;
    }

    #admin-members {
        .profile:nth-child(n+1):nth-child(-n+2) {
            animation: 1s ease-out 0s 1 slideInFromLeft !important;
        }
        
        .profile:nth-child(n+3):nth-child(-n+4) {
            animation: 1s ease-out 0s 1 slideInFromRight !important;
        }
    }
}

@media (max-width: 650px) {
    .profile-picture {
        height: 10rem !important;
        width: 10rem !important;
    }
    
    a {
        height: 2rem !important;
        width: 2rem !important;
    }
    
    .name {
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    .profile {
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    .profile {
        animation: none !important;
    }
}

/* Section introduction */
.hero {
    background-color: #101426; 
    text-align: center;
    margin-bottom: 3rem;
    max-width: 100%;
    min-height: 340px;
    padding-top: 12rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: white;
      }
  }
  
  .join-button {
    background-color: #6571A7;
    color: white;
    padding: 0.8rem 4rem;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .join-button:hover {
    background-color: #535e91;
  }

/*ancien membres section */

.arrow-toggle {
    text-align: center;
    cursor: pointer;
    color: white;
    transition: transform 0.5s ease;  
    margin-bottom: 2rem; 
    
    i {
        font-size: 5.2rem; 
        margin-top: -1.3rem;
        transition: transform 0.5s ease;
    }
}

  .arrow-toggle.rotate i {
    transform: rotate(180deg);
  }
}