<footer>
  <div class="footer-content container">
    <div class="footer-box">
      <span class="main-title">Coordonnées</span>
      <span>
          <br>
          1100 rue Notre-Dame Ouest
          <br>
          Montréal, QC
          <br>
          H3C 1K3
          <br>
          Local : D-2020
          <br>
          Courriel : <a href="mailto:info@clubapplets.ca">info@clubapplets.ca</a>

        </span>

    </div>
    <div class="footer-box">
      <span class="main-title">Médias sociaux</span>
      <span>
          <br>
          Restez en contact avec nous:
        </span>
      <span style="margin-top:5px;">
          <a href="https://github.com/ApplETS">
            <img src="assets/images/GitHub-Mark-Light-64px.png" class="logo-image" alt="Github page">
          </a>
          <a href="https://www.facebook.com/ClubApplETS/">
            <img src="assets/images/facebook-logo.png" class="logo-image" alt="Facebook page">
          </a>
          <a href="https://twitter.com/ClubApplETS">
            <img src="assets/images/Twitter_Logo_WhiteOnBlue.png" alt="Twitter page" class="logo-image">
          </a>

          <a href="https://www.linkedin.com/company/applets/">
            <img id="linkedIn-logo" src="assets/images/linkedin-logo.png" alt="LinkedIn page" class="logo-image">
          </a>

        </span>
      <span class="spacer"></span>
      <span>© 2018 App|ETS</span>
    </div>
  </div>

</footer>
