footer {
    width: 100%;
    background-color: #565656;
    padding: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title {
    font-size: 2.2rem;
}

.logo-image {
    margin-right: 10px;
    height: 2rem;
    border-radius: 3px;
}

a {
    color: #007bff;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
