<div id="parallax-content" class="description-content">
    <div class="container info-bubble" id="club-description">
        <div>
            <span class="bubble-title">LE CLUB</span>
            <div class="gradient-border"></div>
            <span>ApplETS est avant tout un regroupement d’étudiants qui partagent un intérêt commun pour le domaine
          des télécommunications
          et des applications mobiles.
          <br>
          Ce club étudiant a pour objectif principal de former, au sein de l’ÉTS, une main
          d’œuvre
          spécialisée en ingénierie d’applications mobiles et de promouvoir le développement de ces applications au
          sein
          de la communauté étudiante.

        </span>
        </div>

    </div>
    <div class="container info-bubble" id="club-mission">
        <div>
            <span class="bubble-title">MISSION DU CLUB</span>
            <div class="gradient-border"></div>
            <span>Le club ApplETS a été fondé par des étudiants de
          l’École de
          Technologie Supérieure (ÉTS) souhaitant répondre aux besoins technologiques grandissants des étudiants.
          Constatant
          la forte demande pour un accès mobile à l’information diffusée par l’ÉTS, le club a d’abord développé
          ÉTSMobile,
          une application centralisant des informations provenant de multiples plateformes. L’impact fut instantané;
          une
          complicité incroyable entre le club et l’ÉTS est née! Encore aujourd’hui, l’École et les étudiants utilisent
          cette
          application mobile qui ne cesse d’être améliorée. Depuis, ApplETS reçoit régulièrement des propositions de
          nouveaux
          projets, tant de la part des étudiants que des services et départements de l’ÉTS.
        </span>
        </div>

    </div>

    <div class="container info-bubble" id="club-objectives">
        <div>
            <span class="bubble-title">OBJECTIFS DU CLUB</span>
            <div class="gradient-border"></div>
            <span>Nos objectifs sont divers :
          <br>
          <br> - Appliquer les normes du génie logiciel
          <br> - Améliorer les processus de développement
          <br> - Se former rapidement aux nouvelles technologies
          <br> - Améliorer le quotidien de la communauté ÉTS avec des solutions mobiles
          <br> - Promouvoir le développement d’applications mobiles
        </span>
        </div>
    </div>
</div>

<app-blog></app-blog>
