<div class="footer-content">
  <section aria-labelledby="footer-address">
    <h2 id="footer-address">Adresse</h2>
    <div>
      <img src="images/socials/location.svg" alt="mail">
      <p>Local D-2020, 1100 rue Notre-Dame Ouest, Montréal, QC, H3C 1K3</p>
    </div>
  </section>

  <section aria-labelledby="footer-contact">
    <h2 id="footer-contact">Contact</h2>

    <div>
      <img src="images/socials/mail.svg" alt="mail">
      <a href="mailto:ApplETS@etsmtl.ca">ApplETS@etsmtl.ca</a>
    </div>
    <nav>
      <ul>
        <li><a href="https://github.com/ApplETS"><img src="images/socials/github.svg" alt="GitHub"></a></li>
        <li><a href="https://www.facebook.com/ClubApplETS/"><img src="images/socials/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://www.linkedin.com/company/applets/"><img src="images/socials/linkedin.svg" alt="LinkedIn"></a></li>
        <li><a href="https://discord.gg/adMkWptn6Y"><img src="images/socials/discord.svg" alt="Discord"></a></li>
        <li><a href="https://www.instagram.com/clubapplets/"><img src="images/socials/instagram.svg" alt="Instagram"></a></li>
      </ul>    
    </nav>
  </section>
</div>

<div class="applets">
  <h1>App|ETS</h1>
  <img src="images/applets.svg" alt="">
</div>