<div class="footer-content">
  <section aria-labelledby="footer-address">
    <h2 id="footer-address">Adresse</h2>
    <p>Local D-2020, 1100 rue Notre-Dame Ouest, Montréal, QC, H3C 1K3</p>
  </section>

  <section aria-labelledby="footer-contact">
    <h2 id="footer-contact">Contact</h2>

    <a href="mailto:ApplETS@etsmtl.ca">ApplETS@etsmtl.ca</a>
    <nav>
      <ul>
        <li><a href="https://github.com/ApplETS"><img src="images/socials/github.webp" class="social" alt="GitHub"></a></li>
        <li><a href="https://www.facebook.com/ClubApplETS/"><img src="images/socials/facebook.webp" class="social" alt="Facebook"></a></li>
        <li><a href="https://www.linkedin.com/company/applets/"><img src="images/socials/linkedin.webp" class="social" alt="LinkedIn"></a></li>
        <li><a href="https://discord.gg/adMkWptn6Y"><img src="images/socials/discord.webp" class="social" alt="Discord"></a></li>
        <li><a href="https://www.instagram.com/clubapplets/"><img src="images/socials/instagram.png" class="social" alt="Instagram"></a></li>
      </ul>    
    </nav>
  </section>
</div>

<div class="applets">
  <div>
    <h1>App|ETS</h1>
    <img src="images/applets.svg" alt="">
  </div>
  <p>© 2024 App|ETS</p>
</div>