<nav>
  <a href="#main" class="skip-link">Aller au contenu principal</a>

  <div class="top-row">
    <a href="index.html"><img src="images/applets.svg" alt=""> </a>
    <button type="button" id="nav-toggle-container" class="btn-transparent" aria-label="Menu principal" aria-expanded="false" aria-controls="nav-list">
      <div id="nav-toggler">
        <span></span>
      </div>
    </button>
  </div>

	<ul id="nav-list" style="height: 0; display: none;">
		<li><a href="index.html">Accueil</a></li>
		<li><a href="equipe.html">Équipe</a></li>
    <li><a href="partenaires.html">Partenaires</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="https://formulaires.etsmtl.ca/ClubEtudiantAdhesion" target="_blank" id="btn-membre">Devenir Membre</a></li>
	</ul>
</nav> 